@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&family=Roboto+Slab:wght@300;700;900&family=Roboto:ital,wght@0,400;0,500;1,700;1,900&display=swap');
 html{
  scroll-behavior: smooth;
 }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color:black;
    color: #fff;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0.7;
  
  }
  
  .navbar-logo {
    height: 40px;
  margin-left: 40px;
  
  }
  
  .navbar-items  {
    display: flex;
    z-index: 2;
  }
  
  .navbar-items a {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight:500 ;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px;
  }

  .navbar-items a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: red;
    transition: width 0.5s ease;
  }
  
  .navbar-items a:hover::after {
    width: 100%;
  }

  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  .content {
    padding: 20px;
  }

  /* home section start */

  .background-section {
    position: relative;
    background-image: url('./img/Home_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.background-section:hover{
  animation: background-section 4s ease-in-out 0s 1 alternate-reverse forwards;
}
@keyframes background-section {
	0% {
		background-position: center left;
		background-size: cover;
	}

	100% {
		background-position: center top cover;
		background-size: cover;
	}
}

.content {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    text-align: left;
}

.content h2 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.content button{
    height: 40px;
    width: 230px;
    font-size: 23px;
    margin-top: 12px;
    background: rgb(221, 92, 11);
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
    cursor: pointer;
    border: none;
}


 /* home section end */

  /* card section start */

  .section2 {
    text-align: center;
    padding: 50px 0;
    background-color: rgb(221, 92, 11);
    background-image: url('./img/backround-shape.png');
    background-repeat:no-repeat; 
    background-position: left;
    z-index: 1;
}

.section2 h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}

.section2 p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    width: 300px;
    height: 350px;
    background-color: rgb(36, 36, 36);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     margin: 0 20px 15px;
}

.card img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
   
}

.card h4 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
    margin-bottom: 10px; 
}

.card p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(176, 176, 176);
}

  /* car section end */


  /* staistics section start */
    .statistics {
    text-align: center;
    padding: 50px 0;
    background-color: rgb(22, 21, 21);
    background-repeat:no-repeat; 
    background-position: left;
    z-index: 1;
}
.section3 h2 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}

.section3 p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.section3 .card{
  background:none;
}
.section3 .card h1 {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: white;
  margin:77px 0 30px 0;
}

.section3 .card p {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgb(176, 176, 176);
 
}
  /* statistics section end  */

  /* subscribe section start */
  .subscribe {
    height: 350px;
    text-align: center;
    padding: 50px 0;
    background-color: rgb(221, 92, 11);
    background-image: url('./img/backround-shape.png');
    background-repeat:repeat-y; 
    background-position: left;
    z-index: 1;
}

.subscribe .search input{
    height: 35px;
    width: 406px;
    font-size: 16px;
    padding-left: 20px;
    border: none;
}

.subscribe .search button{
  height: 35px;
  width: 116px;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: white;
   background-color: rgb(22, 21, 21);
  border: none;
}
  /* subscribe section end */


  /* Footer start */

 .footer {
      background-color: #333;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .footer-section ul li{
      margin-bottom: 8px;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      list-style: none;
    }

    .footer-section .music i{
      font-size: 20px;
      margin: 3px;
      padding: 6px;
      color: black;
      background: white;
      border: 1px solid white;
      border-radius: 50%;
    }
    .footer-section h3{
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 10px;
    }
   
    .footer-section .music{
      display: flex;
      flex-direction: column;
      justify-content: left;
    }

  /* Footer end */
  
  @media screen and (max-width: 768px) {
    .navbar-items {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-items.active {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 59px;
      left: 0;
       background-color: rgb(22, 21, 21);
      width: 100%;
    }   
    
    
    .background-section .content {
        margin: 0 auto;
       position: absolute;
       bottom: 00px;
       left: 0;
    }

    .section3 .card {
      width: 300px;
      height: 250px;
  }


  .subscribe .search input{
    width: 300px;
    margin-bottom: 10px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-section {
   
    margin-bottom: 20px;
  }

  }

